@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    font-family: "Raleway", sans-serif;
    box-sizing: border-box;
}

.container {
    width: 1280px;
    margin: 0 auto;
    padding: 0 12px;
}